@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <style>
            
        </style>
    </head>
    <body>
        <h1 class="text-center" ;"display-4">Best Buy Database</h1>
        
    </body>
</html>
